@media (max-width: 767.98px) {
  .hero-wrap .backg-one {
    display: none !important;
  }

  .ftco-partner .partner {
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 1rem auto !important;
  }

  .ftco-partner .partner img {
    max-width: 90px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .img-about .img {
    display: flex !important;
    min-height: 250px;
    background-size: cover;
    background-position: center center;
  }

  .hero-wrap {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-height: auto !important;
    height: auto !important;
  }

  .hero-wrap .text {
    margin-top: -20% !important;
  }

  .ftco-partner {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: -30% !important;
    margin-bottom: 0 !important;
  }

  #about-section .row {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }

  #about-section .img-about {
    justify-content: center !important;
    margin-bottom: 30px;
  }

  #about-section .img-about .img {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5rem;
  }

  #about-section .heading-section {
    padding: 0 1rem;
  }
}

a.btn.btn-primary {
  transition: all 0.3s ease !important;
}

a.btn.btn-primary:hover {
  color: #ffffff !important;
  transform: translateY(-1px) !important; 
  text-decoration: none !important;
}

#repo-nav li a.active {
  color: #1abc9c !important; /* warna hijau */
  font-weight: bold;
}