<footer class="w-full max-w-container-max mx-auto bg-transparent border-t border-outline-variant/20 flex flex-col md:flex-row justify-between items-center py-14 px-margin-desktop mt-14">
    <ul class="flex gap-6 mb-4 md:mb-0">
        <li>
            <span class="text-secondary opacity-80 font-body-md text-body-md">
                "Keep Building. Empowering Tech Ecosystems."
            </span>
        </li>
    </ul>
    <div class="text-secondary font-body-md text-body-md">© 2026 Pratama.</div>
</footer>